eureka:
  client:
    service-url:
      defaultZone: http://localhost:9001/eureka

server:
  port: 9201

spring:
  application:
    name: product

  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password:
    url: jdbc:mysql://localhost:3306/product?characterEncoding=utf-8&useSSL=false
  jpa:
    show-sql: true